<head>
  <title>Waether Info</title>
</head>

<app-header></app-header>

<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading" class="row m-3">
  <div *ngFor="let wi of weatherInfo; index as i" class="col-3" [ngClass]="{'mx-auto': weatherInfo.length > 2}">
    <app-weather-card *ngIf="viewState.cardTemplate === cardTemplate.Digital; else graphical" [weatherInfo]="wi"
                      (removeId)="removeCard($event)" (editId)="changeName($event)"></app-weather-card>
    <ng-template #graphical>
      <app-weather-card-graphical [weatherInfo]="wi" (removeId)="removeCard($event)" (editId)="changeName($event)">
      </app-weather-card-graphical>
    </ng-template>
  </div>
  <div class="col-3" [ngClass]="{'mx-auto': weatherInfo.length > 2}">
    <app-new-card [numberOfCards]="weatherInfo.length" (addLocation)="addCard($event)"></app-new-card>
  </div>
</div>

<div class="row my-auto mx-3">
  <p id="lastUpdate" [ngClass]="{'inverseFont': viewState.darkTheme}"> Last update: {{lastUpdate}}</p>
</div>

<router-outlet></router-outlet>
