<head>
  <title>Waether Info</title>
<!--  <script src="https://api.mapy.cz/loader.js"></script>-->
<!--  <script>Loader.load()</script>-->
</head>

<header>
<h1>Weather info</h1>
</header>
<div class="row my-auto mx-3" style="height: 60% !important;">
  <div class="col-3 h-100">
  <h3>Summary</h3>
    <div class="ms-4">
      <p> Location: {{weatherInfo[0]?.name}}</p>
      <p> Temperature: {{weatherInfo[0].main.temp}} °C</p>
      <p> Humidity: {{weatherInfo[0].main.humidity}} %</p>
<!--      <p> Wind: {{weatherInfo[0].wind.speed}} m/s, {{windDirectionCompass}} </p>-->
      <p> Wind: {{weatherInfo[0].wind.speed}} m/s, <span id="windDirection"> direction </span></p>

    </div>
  </div>
  <div class="col-3 h-100">
    <h3>Temperature</h3>
<!--      <div class="scale">-->
<!--        <div id="barTemp"></div>-->
<!--      </div>-->

<!--    <div class="plus-50">Zero</div>-->
    <div class="zero"></div>
<!--    <div class="minus-30">Zero</div>-->
    <div class="progress">
      <div id="barTemp2" class="progress-bar" [ngClass]="weatherInfo[0].main.temp > 0 ? 'bg-danger' : 'bg-primary'"
           role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"> {{weatherInfo[0].main.temp}} °C
      </div>
    </div>
  </div>
  <div class="col-3 h-100">

    <h3>Humidity</h3>
<!--    <div class="scale">-->
<!--      <div id="barHumi"></div>-->
<!--    </div>-->
    <div class="progress" style="left: 60%;">
      <div  id="barHumi2" class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
        {{weatherInfo[0].main.humidity}} %
      </div>
    </div>
  </div>
  <div class="col-3 h-100 vstack">
    <h3>Wind direction</h3>
    <img id="windmeter1" class="windmeter" src="/assets/images/arrow.png" alt="image">
  </div>
</div>
<!--<div class="clear"></div>-->
<div class="row my-auto mx-3">
  <p id="lastUpdate"> Last update: {{lastUpdate}}</p>
</div>

<div class="row m-3">

    <div class="col-3" [ngClass]="{'mx-auto': weatherInfo.length > 2}" *ngFor="let wi of weatherInfo; index as i">
      <mat-card  class="example-card mx-2">
    <mat-card-header>
<!--      <div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>{{wi.name}}</mat-card-title>
      <mat-card-subtitle>
        <mat-icon class="align-bottom" aria-hidden="false" aria-label="Example home icon">location_on</mat-icon>
        Information
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="watherImg" alt="Weather"
         [src]="'http://openweathermap.org/img/wn/' + wi.weather[0].icon + '@2x.png'">
    <mat-card-content>
      <div class="row">
        <div class="col-6 fs-2">
          <div class="h-50 vertallign">
            <span>
<!--          <fa-icon [icon]="temperature" size="xs"></fa-icon>-->
              <mat-icon class="align-middle" aria-hidden="false" aria-label="Example home icon">water_drop</mat-icon>
              {{wi.main.temp}} °C
            </span>
          </div>
          <div class="h-50 vertallign">
            <span>
              <mat-icon class="align-middle" aria-hidden="false" aria-label="Example thumbs up SVG icon">device_thermostat</mat-icon>
<!--          <fa-icon [icon]="temperature" size="xs"></fa-icon>-->
              {{wi.main.humidity}} %
            </span>
          </div>
        </div>
        <div class="col-6 h-100">
          <div class="row">
            <div class="col-3 align-self-center">
              <mat-icon class="align-middle" aria-hidden="false" aria-label="Example thumbs up SVG icon">wind_power</mat-icon>
<!--           <fa-icon [icon]="wind" size="lg"></fa-icon>-->
            </div>
            <div class="col-6">
              <img id="windmeter" class="windmeter" src="/assets/images/arrow.png" alt="image">
            </div>
          </div>
          <div class="text-center" style="font-size: 1.25rem;">{{wi.wind.speed}} m/s</div>
        </div>
      </div>
<!--      <p>-->
<!--        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--        bred for hunting.-->
<!--      </p>-->
    </mat-card-content>
    <mat-card-actions align="end">
      <button [disabled]="weatherInfo.length === 1 && i === 0"  mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="removeCard(i)">
        <mat-icon>delete</mat-icon>
      </button>
<!--      <button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>
    </div>

   <div class="col-3" [ngClass]="{'mx-auto': weatherInfo.length > 2}">
    <mat-card *ngIf="weatherInfo.length < 4" class="example-card mx-2 h-100">
      <div class="form-floating top-50 ">
        <button mat-fab class="d-block m-auto" color="accent" aria-label="Example icon button with a delete icon"
                (click)="addCard()"> <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card>
   </div>
</div>

<router-outlet></router-outlet>
