<header [ngClass]="viewState.darkTheme ? 'darkHeader': 'lightHeader'">
  <div class="d-flex">
    <h1 class="flex-fill">Weather info</h1>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="menu">
        <button mat-menu-item>
          <mat-icon> insert_chart_outlined</mat-icon>
          <span class="mx-2">Forecast</span>
        </button>
        <button (click)="viewState.changeTheme()" mat-menu-item>
          <mat-slide-toggle [ngModel]="viewState.darkTheme"></mat-slide-toggle>
          <span class="mx-2"> {{ viewState.darkTheme ? 'Light theme' : 'Dark theme'}} </span>
        </button>
        <button (click)="openLayoutDialog()" mat-menu-item>
          <mat-icon>image</mat-icon>
          <span class="mx-2">Card Layout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</header>
