/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Helvetica, sans-serif }

header{
  padding-left: 10px;
}

.lightHeader {
  background: powderblue;
}

.darkHeader {
  background: #111111;
  color: white;
}

.darkCard {
  background: #222222;
  color: #dddddd;
}

.darkSubtitle {
  color: #999999;
}

.darkMenu {
  background: #222222;
  color: #dddddd;
  box-shadow: 0 2px 4px -1px rgb(255 255 255 / 20%),
              0 4px 5px 0 rgb(255 255 255 / 14%),
              0 1px 10px 0 rgb(255 255 255 / 12%);
}

.darkDialog {
  background: #222222;
  color: #dddddd;
  box-shadow:	0 11px 15px -7px rgb(255 255 255 / 20%),
              0 24px 38px 3px rgb(255 255 255 / 14%),
              0 9px 46px 8px rgb(255 255 255 / 12%)
}

.inverseFont {
  color: white;
}

.inverseColor {
  color: #dddddd !important;
}

mat-card-header div {
  flex: auto;
}

.windmeter {
  height: 6rem;
  margin: auto;
}

.progress{
  width: 12%;
  height: 80%;
  margin: 0 auto;
}
.progress-bar{
  position:relative;
  width: 100%;
}

.zero {
  border-bottom: grey solid 1px;
  position: relative;
  top: 50%;
  height: 0;
  width: 30%;
  margin: 0 auto;
  text-align: right;
}

.bottomLine {
  border-bottom: lightgrey solid 1px;
  width: 95%;
  margin: auto;
  height: 1rem
}

.h-1-5 {
  height: 1.5rem;
}

.minus-30 {
  border-bottom: grey solid 1px;
  position: relative;
  top: 75%;
  width: 30%;
  margin: 0 auto;
  height: 0;
  text-align: right;
}

.plus-50 {
  border-bottom: grey solid 1px;
  position: relative;
  top: 25%;
  width: 30%;
  margin: 0 auto;
  height: 0;
  text-align: right;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.vert-align {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.glow {
  box-shadow: 0 0 5px 5px lightgrey;
}

.d-flex-col {
  display: flex;
  flex-flow: column;
}

#lastUpdate{
  font-style: italic;
  font-size: smaller;
  text-align: right;
  padding-right: 25px;
}

#details div {
  display: flex;
}
