<h1 mat-dialog-title>Edit location name</h1>
<div mat-dialog-content>
  <p>Type new name</p>
  <mat-form-field style="width: 90%;">
    <input matInput type="text" placeholder="Select a city" [disabled]="true"
           [(ngModel)]="data.name" [formControl]="name">
    <mat-error *ngIf="name.hasError('required')">
      This field is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data">OK</button>
</div>
